.contedenorPre {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 650px;
    height: 650px;
}

.sigIn {
    display: flex;
    flex-direction: column;
}

.contenedor-color {
    width: 500px;
    height: 100px;
    display: flex;
}

.colorA{
    width: 50px;
    height: 50px;
    /* background-color: #add8e6; */
    background: #F50D5A;

    cursor: pointer;
}
.colorB{
    width: 50px;
    height: 50px;
    /* background-color: #fff; */
    background: #FF865C;
    cursor: pointer;
}
.colorC{
    width: 50px;
    height: 50px;
    /* background-color: #000; */
    background: #FFEA5C;
    cursor: pointer;
}
.colorD{
    width: 50px;
    height: 50px;
    /* background-color: #ff0000; */
    background: #00DA76;
    cursor: pointer;
}
.colorF{
    width: 50px;
    height: 50px;
    /* background-color: #00ff00; */
    background: #0096CE;
    cursor: pointer;
}
.colorG{
    width: 50px;
    height: 50px;
    /* background-color: #ffa6c9; */
    background: #800FFF;
    cursor: pointer;
}