@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
.cabecera{
    width: 70%;
    height: 100px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.body{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    width: 50px;
    height: 50px;
}
.card{
    background-color: #150714;
    height: 220px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cajaTwitter{
    /* width: 100%; */
    width: 300px;
    height: 100px;
    color: white;
    border: none;
    margin-left: 10px;
}

.contenedorTwitter{
    display: flex;
    /* width: 550px; */
    background-color: #150714;
  
}

.photoPerfil{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
    
}

.buttonEnvia{
    width: 100px;
    height: 35px;
    background-color: #2F112D; 
    border: none;
    color: black;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.listaTwitter {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid #60265B;
    padding-bottom: 10px;
}


.containerC{
    width: 100%;
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerA {
    width: 50px;
}
.containerB {
    width: 250px;
    margin: 0;
}

.userName {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    
}

.cajaTwitterLectura{
    font-family: 'Fira Code', monospace;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.3333333432674408px;
    text-align: left;
    display: flex;
    width: 300px;
    overflow: hidden;
    height: 100px;
}

.butonElimina {
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.progress-wrapper {
    background-color: gray;
    width: 300px;
    height: 5px;
    border-radius: 10px;
    margin: 0 0 0 35px;
  }
  
  .progress-bar {
    background-color: #00DA76;
    height: 5px;
    border-radius: 10px;
  }
  