@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {font-family:"Silkscreen Expanded";src:url("slkscre.eot?") format("eot"),url("slkscre.woff") format("woff"),url("slkscre.ttf") format("truetype"),url("slkscre.svg#Silkscreen-Expanded") format("svg");font-weight:normal;font-style:normal;}


*{
    background-color: #2E132C;
    box-sizing: border-box;
    margin: 0 auto;
     /* font-family: 'Fira Code', monospace;  */
    font-family:'Silkscreen Expanded';
    /* border: 0.5px solid orange; */
}

p, button{
    font-family: 'Fira Code', monospace;   
}